<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/post/create" method="post">
    <input type="file" placeholder="media" name="media" accept="image/*">
    <input type="text" placeholder=" caption" name="caption">
    <button type="submit">POST</button>
  </form>
</body>
</html>